<div class="shop">
  <h1 class="h1">[NPC] Beginner Merchant</h1>
  <p class="desc">Hello Adventurer, welcome to the town of Angular!<br>
    Here you can explore all the exciting stuff like meeting weird monster, learning new spell, and discovering rare item.<br>
    But first, you need some weapon/spell to accompany you along the way!<br>
    I will give you 1000 gold, so choose your weapon/spell wisely~</p>
  <div class="card">
  <mat-card class="item" *ngFor="let item of items" >
  <mat-card-header>
    <mat-card-title>{{item.name}}</mat-card-title>
    <mat-card-subtitle>
  <p class="label"> Price: {{item.price}}</p>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="content1">
    <label > Description : </label>
    <p>{{item.desc}}</p>
  </mat-card-content>
    <div class="image">
      <img alt="" mat-card-image src="{{item.image}}">
    </div>
    <mat-card-content class="content2">
      <button mat-button color="accent" *ngIf="!item.addedToCart" (click)="addItemToCart(item)">
        <mat-icon>shopping_cart</mat-icon>Add to cart</button>
      <button mat-button color="primary" *ngIf="item.addedToCart" (click)="removeItemFromCart(item)">
        <mat-icon>remove_shopping_cart</mat-icon>Added to cart!</button>
    </mat-card-content>
  </mat-card>
  </div>
    <div class="cart">
      <h3>Added to cart:</h3>
      <div *ngFor="let item of items">
      <div class="items-list" *ngIf="item.addedToCart">

        <span class="item-name"> {{item.name}}</span>

        <span class="item-price"> {{item.price}}</span>

      </div>
      </div>
      <mat-divider class="mat-divider"></mat-divider>
<br>
      <div class="cart-list">
        <span class="item-name"><strong>Total: </strong></span>
        <span class="item-price">{{cartCost}}</span>
      </div>
      <br>
      <div >
      <button class="btn" mat-raised-button color="primary" (click)="alertMessage()">Buy</button>
      </div>
  </div>
</div>
